
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:700);

body {
	background-color: #3e3e40;
}

h1, h2, h3, article, footer, a, time, footer p, legend {
	font-family: 'PT Sans', sans-serif, "Lucida";
	color: #f8f6ff;
	text-transform: uppercase;
	text-decoration: none;
}

p, footer a, #header-menu a {
	font-family: 'Lora', serif;
	font-weight: bold;
	letter-spacing: 0.03em;
	line-height: 1.4em;
}

h1 {
	font-size: 2.5em;
	padding: 0 0 0 12px;
	margin: 0;
	display: inline-block;
	width: 700px;
}

h2 {
	font-size: 1.2em;
	font-weight: normal;
	text-transform: none;
	text-align: center;
}	

h3 {
	color: #347ABF;
	font-size: 1.7em;
	font-weight: 500;
	text-indent: 2px; 
	text-transform: none;
	padding: 0 12px 0 12px;
}

p {
	color: #3e3e40;
	font-style: normal;
	font-size: 1.0em;
	text-transform: none;
	padding: 0 12px 0 12px;
}

main {
	display: block;
	margin: 90px;
	padding: 30px;
}


article {
	text-transform: uppercase;
	border: 4px solid #f8f6ff;
	border-top-width: 20px;
	box-sizing: border-box; 
	background-color: #dfdee5;
	opacity: 0.9;
	margin: 1%;
	width: 23%;
	min-width: 300px;
	height: 500px;
	float: left;
	overflow: hidden;
}

article:hover {
	margin: 0% 1% 1% 1%;
}

footer {
	text-align: right;
	padding: 0 32px 32px 0;
	word-spacing: 2.0em;
	border: 0 solid #f8f6ff;
	border-top-width: 13px;
}

footer p {
	word-spacing: normal;
}

a {
	display: block;
	font-size: 1.2em;
	text-transform: uppercase;
}

img {
	display: block;
	padding: 0px 12px 0px 12px;
	width: 92%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	text-align: center;	
	display: inline-block;
	width: 200px;
	padding: 1px 1px 1px 1px;
	margin: 5px 0 5px 0;
	border: 2px solid #347ABF;
	background-color: #347ABF;
}

li:hover {
	background-color: #732A25; 
	border-color: #732A25;
	height: 25px;
}

.news-current {
	padding: 6px 1px 6px 1px;
	background-color: #732A25;
	border-color: #732A25;
}

time {
	color: #3e3e40;
	opacity: 0.9;
	padding: 12px;
	line-height: 28px;
}

th {
	border: 2px solid #fff;
}

td {
	border: 2px solid #fff;
}

hr {
	clear:both;
}

form {
	background-color: #732A25;
}

legend {
	padding: 10px;
	font-size: 1.5em;
}

form input {
	font-size: 1.5em;
}

section {
	border: 1px solid #f8f6ff;
}

.search-garages {
	float: left;
	background-color: #732A25;
	padding: 26px;
	margin: 16px;
	border: solid #732A25 5px;
}

iframe {
	margin: auto;
	align-content: center;
	align-items: center;
}

.map {
	margin: 0 0 60px 120px;
	padding: 0;
}

.diy, legend {
	color: #34A2BF;
}

.page-menu {
	word-spacing: 2.0em;
	padding: 18px;
	border: solid #f8f6ff;
	border-width: 13px 0 13px 0;
}

.mouse-hover:hover {
	color: #34A2BF;
}

.start-a-garage, .find-a-garage {
	font-size: 2.0em;
	text-align: center;
	border-style: solid;
	border-radius: 35px;
	width: 400px;
	margin: auto;
	margin-bottom: 30px;
	padding: 12px;
	display: block;
}

.start-a-garage {
	border-color: #34A2BF;
	background-color: #34A2BF;
}

.start-a-garage:hover {
	background-color: #273A4D;
	border-color: #273A4D;
} 

.find-a-garage {
	border-color: #f8f6ff;
	background-color: #f8f6ff;
}

.find-a-garage a {
	color: #34A2BF;
}

.find-a-garage:hover {
	background-color: #732A25; 
	border-color: #732A25;
	color: #f8f6ff;
}

.find-a-garage:hover a {
	color: #f8f6ff;
}

.formtext {
	color: #34A2BF;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0; 
	content: " "; 
	clear: both;
	height: 0;
}

#logo {
	margin: 22px;
	width: 60px;
	display: inline-block;
	float: left;
	padding: 0;
}

#header-menu {
	text-align: right;
	display: inline-block;
	float: right;
	margin-top: 32px 32px 0 0; 
}

.h1-float-correction {
	width: 100%;
}

#about-policies-help {
	text-align: left;
	text-indent: 4.0em;
	padding-top: 22px;
	margin-top: 22px;
}

#company-name {
	display: inline-block;
}


/* 
Fonts

	font-family: 'Lora', serif;
	font-family: 'PT Sans', sans-serif;

Colors

	#f8f6ff cream white
	#3e3e40 dark gray
	#dfdee5 light gray
	#fff0b6 cream yellow
	#ccc4b1 cream tan
	#5E5E8C purple blue
	#3C3C59 darker blue purple
	#828C2D dark yellow
	#273A4D dark blue
	#347ABF lighter blue
	#34A2BF lighter blue2
	#3C401B green brown
	#732A25 deep red
	#8C3A34 light red

Alternative Background, Image Cover

	background-image: url("../images/photo3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
*/

#f8f6ff { display: block; background-color: #f8f6ff;}

#i3e3e40 {display: block; background-color: #3e3e40; color: white; border: 1px solid black;}

#dfdee5 {display: block; background-color: #dfdee5;}

	#fff0b6 {display: block; background-color: #fff0b6;}
	#ccc4b1 {display: block; background-color: #ccc4b1;}
	#i5E5E8C {display: block; background-color: #5E5E8C; color: white;}
	#i3C3C59 {display: block; background-color: #3C3C59; color: white;}
	#i828C2D {display: block; background-color: #828C2D;}
	#i273A4D {display: block; background-color: #273A4D; color: white;}
	#i347ABF {display: block; background-color: #347ABF;}
	#i34A2BF {display: block; background-color: #34A2BF;}
	#i3C401B {display: block; background-color: #3C401B; color: white;}
	#i732A25 {display: block; background-color: #732A25; color: white;}
	#i8C3A34 {display: block; background-color: #8C3A34; color: white;}