/* Colors

	f8f6ff cream white
	3e3e40 dark gray
	dfdee5 light gray
	fff0b6 cream yellow
	ccc4b1 cream tan
	5E5E8C purple blue
	3C3C59 darker blue purple
	828C2D dark yellow
	#273A4D dark blue
	3C401B green brown
	732A25 deep red
	8C3A34 light red
*/

body {
	background-color: #3e3e40;
	
	/*background-image: url("../images/photo3.jpg");
	background-size: cover;
	background-repeat: no-repeat;*/
}

h1 {
	color: #f8f6ff;
	font-family: "Lucida";
	font-size: 2.5em;
	font-weight: bold;
	text-transform: uppercase;
	text-transform: underline;
	padding: 12px;
	display: inline-block;
	width: 1000px;
}

h2 {
	color: #273A4D;
	font-family: "Lucida";
	font-size: 2.2em;
	font-weight: 500;
	text-transform: uppercase
	text-indent: 2px; 
	padding: 0px 12px 0px 12px;
}


p {
	color: #3e3e40;
	font-family: "Lucida";
	font-style: normal;
	font-size: 2.0em%;
	font-weight: normal;
	padding-right: 12px;
	padding-left: 12px;
}

a {
	color: #f8f6ff;
	font-family: "Lucida";
	font-style: normal;
	font-size: 1.2em;
	font-weight: normal;
	text-transform: uppercase;
	padding: 12px;
}

hr {
	background-color: #f8f6ff;
	color: #f8f6ff;
	margin: 0;
	height: 3px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	display: inline-block;
}

li a {
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/*.active {
	background-color: #f8f6ff;
	color: #dfdee5;
}
*/

.header-block{
	background-color: #3e3e40;
	opacity: 0.9;
}

.slogan {
	margin-top: 15px;
	margin-bottom: 0px;
}

.sub-slogan {
	font-size: 0.5em;
}

.page-menu {
	background-color: #3e3e40;
	opacity: 0.9;
	word-spacing: 2.0em;
	text-indent: 4.0em;
	padding: 18px;

}

.news-story {
	border-style: solid;
	border-width: 20px 4px 4px 4px;
	border-color: #f8f6ff;
	background-color: #dfdee5;
	opacity: 0.9;
	margin: 2.0% 1.0% 2.0% 1.0%;
	text-transform: uppercase;
	width: 290px;
	height: 450px;
	display: inline-block;
	vertical-align: top;

}

.newsimage {
	padding: 12px;
	float: left;
}

.paragraph {
	padding-top: 7px;
	text-transform: none;
}

.start-a-garage {
	
	font-size: 2.0em;
	text-align: center;
	border-style: solid;
	border-radius: 35px;
	border-color: #732A25;
	background-color: #732A25;
	opacity: 0.9;
	width: 400px;
	margin: auto;
	margin-bottom: 12px;
	padding: 12px;
	display: block;
}

.start-a-garage a {
	text-decoration: none;
}

.find-a-garage {
	font-size: 2.0em;
	text-align: center;
	border-style: solid;
	border-radius: 35px;
	border-color: #f8f6ff;
	background-color: #f8f6ff;
	opacity: 0.9;
	width: 400px;
	margin: auto;
	margin-bottom: 42px;
	padding: 12px;
	display: block;
}

.find-a-garage a {
	text-decoration: none;
	color: #273A4D;
}



.footer-content {
	text-align: right;
	background-color: #3e3e40;
	opacity: 0.9;
	padding-bottom: 32px;
	padding-right: 32px;
	text-transform: uppercase;
	word-spacing: 2.0em;
}

#logo {
	margin: 32px;
	width: 60px;
	display: inline-block;
	float: left;
}

#header-menu {
	text-align: right;
	display: inline-block;
	float: right;
	margin-top: 32px;
	margin-right: 32px;
}

/*#slogan {
	color: #f8f6ff;
	font-style:;
	font-family: "Lucida";
	font-size: 2.0em;
	font-weight: bold;
	text-decoration:;
	text-transform: uppercase;
	text-indent: 4.0em;
	line-height: ;
	float: left;
	display: inline;*/


#footercompanyname {
	word-spacing: normal;

}

#about-policies-help {
	text-align: left;
	text-indent: 4.0em;
	padding-top: 22px;
}