
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:700);

body {
	background-color: #3e3e40;
	font-size: 16px;
}

.form-page {
	background-color: #273A4D;
}

h1, h2, h3, article, footer, a, time, footer p, legend, form p {
	font-family: 'PT Sans', sans-serif, "Lucida";
	color: #f8f6ff;
	text-transform: uppercase;
	text-decoration: none;
}

p, footer a {
	font-family: 'Lora', serif;
	font-weight: bold;
	letter-spacing: 0.03em;
	line-height: 1.4em;
}

h1 {
	font-size: 2.5em;
	padding: 0 0 0 20px;
	margin-left: 20px;
	display: inline-block;
	width: 52%
}

.h1-float-correction {
	width: 100%;
}

.diy {
	color: #34A2BF;
}


h2 {
	font-size: 1.2em;
	font-weight: normal;
	text-transform: none;
	text-align: center;
	clear: both;
}	

h3 {
	color: #347ABF;
	font-size: 1.7em;
	font-weight: 500;
	text-indent: 2px; 
	text-transform: none;
	padding: 0 12px 0 12px;
}

p {
	color: #3e3e40;
	font-style: normal;
	font-size: 1.0em;
	text-transform: none;
	padding: 0 12px 0 12px;
}

article {
	text-transform: uppercase;
	border: 4px solid #f8f6ff;
	border-top-width: 20px;
	box-sizing: border-box; 
	background-color: #dfdee5;
	opacity: 0.9;
	margin: 1%;
	width: 23%;
	min-width: 300px;
	height: 515px;
	float: left;
	overflow: hidden;
}

article img {
	display: block;
	padding: 0px 12px;
	width: 92%;
}

time {
	color: #3e3e40;
	opacity: 0.9;
	padding: 12px;
	line-height: 28px;
}

div {
	display: inline-block;
	width: 30%;
}

a {
	display: block;
	font-size: 1.2em;
	text-transform: uppercase;
	overflow: hidden;
	width: 
}

a img {
	margin: 20px;
	display: block;
	width: 90%;
}

nav li a {
	font-size: 1.5em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	text-align: center;	
	display: inline-block;
	width: 200px;
	padding: 3px 1px 3px 1px;
	border: solid #3e3e40;
	border-width: 5px 2px;
	background-color: #347ABF;
}

li:hover {
	background-color: #732A25; 
}

.mouse-hover:hover {
	color: #34A2BF;
}

.start-a-garage, .find-a-garage {
	font-size: 2.0em;
	text-align: center;
	border-style: solid;
	border-radius: 35px;
	width: 400px;
	height: 50px;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 30px;
	padding: 12px;
	display: block;
}

.start-a-garage {
	border-color: #34A2BF;
	background-color: #34A2BF;
}

.start-a-garage:hover {
	background-color: #273A4D;
	border-color: #273A4D;
} 

.find-a-garage {
	border-color: #f8f6ff;
	background-color: #f8f6ff;
}

.find-a-garage a {
	color: #34A2BF;
}

.find-a-garage:hover {
	background-color: #732A25; 
	border-color: #732A25;
	color: #f8f6ff;
}

.find-a-garage:hover a {
	color: #f8f6ff;
}

.cities-nav {
	border-top: solid #f8f6ff 8px; 
	padding-top: 32px;
}

#header-menu {
	text-align: center;
	float: right;
	margin: 2% 2% 0 0; 
	width: 200px;
}	

.page-menu {
	word-spacing: 2.0em;
	padding: 18px;
	border: solid #f8f6ff;
	border-width: 8px 0 8px 0;
}

.current-page {
	border-bottom-color: #732A25;
}

#logo {
	width: 150px;
	float: left;
	margin-top: 20px;
	padding: 5px;
}

#logo-form-page {
	width: 150px;
	margin: auto;
	margin-top: 20px;

}

footer {
	text-align: right;
	padding: 0 32px 32px 0;
	word-spacing: 2.0em;
	border: 0 solid #f8f6ff;
	border-top-width: 8px;
}

footer p {
	word-spacing: normal;
	clear: both;
}

.footer-menu {
	display: inline-block;
	width: 150px;
	margin: 0;
	overflow: hidden;
}

hr {
	clear:both;
}

form {
	background-color: #273A4D;
}

fieldset {
	text-align: right;
	border: none;
}

form input, form textarea {
	font-size: 1.5em;
	margin-left: 16px;
}

.form-box {
	background-color: #273A4D;
	padding: 26px;
	margin: auto;
	border-left: solid #f8f6ff 5px;
	border-right: solid #f8f6ff 5px;
	width: 50%;
}

.formtext {
	color: #34A2BF;
	text-transform: uppercase;
	text-decoration: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0; 
	content: " "; 
	clear: both;
	height: 0;
}

#about-policies-help {
	padding-top: 22px;
	margin-top: 22px;
	margin-bottom: 22px;
	float: left;
	text-align: left;
	text-indent: 40px;
}

#terms-privacy {
	padding-top: 22px;
	margin-top: 22px;
	margin-bottom: 22px;
	float: right;
}

#company-name {
	display: block;
	float: right;
	width: 250px;
}

@media only screen and (max-width: 903px) {
	#header-menu {
		float: none; 
		margin: auto; 
		margin-bottom: 44px;
		width: 100%;
	}

	#logo {
		float: none; 
		margin: auto;
	}

	h1 {
		display: block; 
		margin: auto; 
		margin-bottom: 22px; 
		margin-top: 22px;
		width: 70%;
	}
	
	li a {
		font-size: 1.5em
	}

	nav ul {
		text-align: center;
	}

	section {
		display: block;	
		width: 80%;
		margin: auto;
		margin-bottom: 44px;
	}

	div {
		display: block;
		width: 50%;
	}

	nav {
		clear: both;
	}

}

@media only screen and (max-width: 812px) {
	article {
		width: 100%;
		height: 530px;
	}
}

@media only screen and (max-width: 759px) {
	nav li {
		display: block;
		margin: auto;
	}
}

@media only screen and (max-width: 619px){
	h1 	{
		font-size: 2em;
	}
}	

@media only screen and (max-width: 456px) {
	.start-a-garage, .find-a-garage {
		font-size: 1.5em;
		width: 80%;
		height: 35px;
	}

	form input, form textarea {
	font-size: 1em;
	margin-left: 1px;
}	
	}

@media only screen and (max-width: 419px){
	.start-a-garage, .find-a-garage {
		font-size: 1.3em;
	}

	section {
		width: 100%;
	}
	
	article {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		min-width: 250px;
	}	

	div {
		width: 80%;
	}

	h1 	{
		font-size: 1.5em;
	}

	#logo {
		width: 130px;
	}

	a image {
		width: 100%;
	}

	.form-box {
		padding: 13px;
	}
}	