@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:700);

body {
	background-color: #3e3e40;
}

main {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

article {
	border: 1px black solid;
	padding: 20px;
	background-color: #E89C6C;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

footer a {
	font-family: 'Lora', serif;
	font-size: 0.9em;
}

img {
	display: block;
	padding: 20px;
	width: 150px;
}

.header-block {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

.header-menu {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

.page-menu {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}